<%= render 'layouts/headerAdmin' %>
<% provide(:url, "https://tinymce.cachefly.net/4.2/tinymce.min.js") %>
<div class="add" id="add">
    <div class="wrapper">
        <section>
            <%= form_for @product, :html => {:multipart => true} do |f| %>
            
                <%= f.grouped_collection_select :subcategory_id, Category.order(:id), :subcategories, :category_name, :id, :subcategory_name, include_blank: true %>
            
                <%= f.text_field :title, class: 'title' %>
            
                <%= f.text_field :info_item, class: 'info-product' %>

                <%= f.text_field :price, class: 'item-price' %>
                <div class="editor" id="editor">
                    <%= f.text_area :description, class: 'editor', id: 'editor' %>
                </div>
                
                <div class="image-upload">
                    <% n = 0 %>
                    <%= f.fields_for :images do |builder| %>
                    <div class="image-update">
                        <%= image_tag @images[n].image.url %>
                        <%= builder.label :image, "Image File" %>
                        <%= builder.file_field :image %>
                        <% n += 1 %>
                    </div>
                    <% end %>
                </div>

            <p><%= f.submit "Update", class: 'submit-btn' %></p>
            <% end %>
            
        </section>
    </div>
</div>
<script>
    tinymce.init({   
        selector:'textarea',
        plugins: [
            "link preview media"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        toolbar2: "print preview media | forecolor backcolor emoticons",
    });
</script>
<%= render 'layouts/footer' %>