<%= render 'layouts/headerAdmin' %>
<div class="content" id="content-admin">
    <section>
        <div class="wrapper">
            <div id="pattern" class="pattern">
                <% @products.in_groups_of(18, false) do |product_row| %>
                    <ul class="g">
                        <% for product in product_row %>
                            <% image = Image.where(:product_id => product.id) %>
                            <li>
                                <%= image_tag image[1].image.url(:large) %> 
                                <h5><%= truncate(product.title, :length => 45) %></h5>
                                <p><%= link_to "EDIT", edit_path(product) %> | <%= link_to "REMOVE", [:delete, product] %></p>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
            </div>
            <input type='hidden' id='current_page' />
            <input type='hidden' id='show_per_page' />  
            <div id='page_navigation'></div>  
        </div>
    </section>
</div>